---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { VueCard } from "../components/";
---


<Layout title="Welcome to Yuuko">
  <main>
    <VueCard />
	<Card body="hey" href="https://github.com" title="An epic title"/>
  </main>
</Layout>

<style></style> 